<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Shift Manager Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetch-schedule">
                <span class="oi oi-list" aria-hidden="true"></span> Fetch Schedule
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-employee">
                <span class="oi oi-medical-cross" aria-hidden="true"></span> Create Employee
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="update-employee">
                <span class="oi oi-pencil" aria-hidden="true"></span> Update Employee
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="add-schedule">
                <span class="oi oi-medical-cross" aria-hidden="true"></span> Add Schedule
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="update-schedule">
                <span class="oi oi-pencil" aria-hidden="true"></span> Update Schedule
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="delete-schedule">
                <span class="oi oi-delete" aria-hidden="true"></span> Delete Schedule
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="delete-employee">
                <span class="oi oi-delete" aria-hidden="true"></span> Delete Employee
            </NavLink>
        </div>        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
